<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Servicio requerido:</strong>
  <%= @cliente.servicio_requerido %>
</p>

<p>
  <strong>Descripcion del servicio requerido:</strong>
  <%= @cliente.descripcion_del_servicio_requerido %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
