<h1><%= @professional.nombre %></h1>
<h4><%= @professional.telefono %></h4>
<h4><%= @professional.profesion_u_oficio %></h4>
<h4><%= @professional.servicios_ofrecidos %></h4>
<%= link_to 'Remove', @professional, method: :delete, data: {confirm: 'Are you sure' } %>
